<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
    <!-- //for-mobile-apps -->
    <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- gallery -->
    <link rel="stylesheet" href="/css/lightGallery.css" type="text/css" media="all" />
    <!-- //gallery -->
    <!-- font-awesome icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">

    <!-- //font-awesome icons -->
    <link href="//fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Jura:300,400,500,600" rel="stylesheet">
    <link
            href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
            rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


</head>
<body>

<style>
    .greeting {
        font-family: Arial, sans-serif;
        color: #8e8e8e;
        margin-right: 10px;
        font-size: 16px;
    }
</style>

<div class="header">
    <div class="w3layouts_header_left">
        <div class="top-nav-text">
            <!--            insert greetings message below-->

            <span th:if="${currentUser}" class="greeting" th:text="'Hello, ' + ${currentUser.firstName}"></span>

            <!--            insert greetings message above-->


            <a class="nav-link" href="/go-premium">Go Premium</a>

        </div>
    </div>
    <div class="w3layouts_header_right">
        <div class="header_right search_bar">
        <form action="#" method="post" >
            <input name="Search here" style="width:80%" type="search" placeholder="Search" required="">
            <input type="submit" style="width:20%" value="">
        </form>
        </div>
        <div class="header_right">
            <div class="nav_links">
            <a href="/contact-us" class="contact-us-button">Contact Us</a>
            <span th:unless="${currentUser}">
            <a href="/login" class="login-button">Login</a>
            <a href="/register" class="register-button" >Register</a>
            </span>
            <span th:if="${currentUser}">
                <a href="/logout" class="logout-button">Logout</a>
                <a href="/your-profile">Your Account</a>
            </span>
            </div>
        </div>






    </div>
    <div class="clearfix"></div>
</div>


<div class="w3_navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="w3_navigation_pos">
                    <h1>
                        <a href="home.html" th:href="@{/}" >
                            <img src="/images/logoorange.png" alt="Boardify Logo" />
                        </a>
                    </h1>
                </div>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-left" id="bs-example-navbar-collapse-1">

                <nav class="cl-effect-5" id="cl-effect-5">
                    <ul class="nav navbar-nav" style="display: inline-block;">
                        <li class="active"><a href="/"><span data-hover="Home">Home</span></a></li>
                        <li><a href="/join-tournament" class="scroll"><span data-hover="Join Tournament">Join Tournament</span></a></li>
                        <li><a href="/create-tournament" class="scroll"><span data-hover="Create Tournament">Create Tournament</span></a></li>
                        <li><a href="/leaderboard" class="scroll"><span data-hover="Leaderboard">Leaderboard</span></a></li>
                    </ul>
                </nav>



            </div>
        </nav>
    </div>
</div>
<!-- //header -->
</body>
</html>