<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Each Tournament</title>


    <link href="/css/tourhome.css" rel="stylesheet" type="text/css">
</head>
<body>

<div th:fragment="tournament-details(tournament)" class="container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="card">
                <tr>
                    <td th:text="${tournament.tournamentName}"></td>
                    <td th:text="${tournament.game.name}"></td>
                    <td th:text="${tournament.address + ', ' + tournament.city + ', ' + tournament.state + ', ' + tournament.zipCode}"></td>
                    <td th:text="${tournament.eventStart}"></td>
                    <td th:text="${tournament.entryFees}"></td>
                    <td th:text="${tournament.prize}"></td>
                    <td>


                        <!--          <a th:href="@{'/tournaments/join/' + ${tournament.tournamentId} + '/'+${userId}}" class="btn btn-primary">Join Tournament</a>-->
                        <!--          <form id="payment-form" th:action="@{/pay-entry-fees}" method="post">-->
                        <!--            <input type="hidden" name="tournamentId" th:value="${tournament.tournamentId}">-->
                        <!--            <input type="hidden" name="userId" th:value="${userId}">-->
                        <!--            <button type="submit" class="btn btn-primary">Join Tournament</button>-->
                        <!--          </form>-->
                        <a th:href="@{'/pay-entry-fees/' + ${tournament.tournamentId} + '/' + ${userId} + '?entryFees=' + ${tournament.entryFees}}" class="btn btn-primary">Join Tournament</a>


                    </td>
                </tr>
            </div>
        </div>
    </div>
</div>

</body>
</html>