<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tournaments</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    .star-rating {
      white-space: nowrap;
    }
    .star-rating [type="radio"] {
      appearance: none;
    }
    .star-rating i {
      font-size: 1.2em;
      transition: 0.3s;
    }

    .star-rating label:is(:hover, :has(~ :hover)) i {
      transform: scale(1.35);
      color: #fffdba;
      animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
    }
    .star-rating label:has(~ :checked) i {
      color: #faec1b;
      text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
    }

    @keyframes jump {
      0%,
      50% {
        transform: translatey(0) scale(1.35);
      }
      100% {
        transform: translatey(-15%) scale(1.35);
      }
    }

  </style>
</head>
<body>
<div th:replace="~{_navbar.html}"></div>
<!-- Add the "My Tournaments" section before the main list of tournaments -->
<div class="container mt-5">
  <div class="container mt-5">

    <h3>My Past Tournaments</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Entry Fee</th>
        <th>Prize</th>
        <th>Rate Tournament</th>
        <th>Rate Host</th>
        <th class="button-column">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="attendedTournament, row : ${pastTournaments}" th:class="'row-' + ${row.index}">
        <td th:text="${attendedTournament.tournament.tournamentName}"></td>
        <td th:text="${attendedTournament.tournament.address + ', ' + attendedTournament.tournament.city + ', ' + attendedTournament.tournament.state + ', ' + attendedTournament.tournament.zipCode}"></td>
        <td th:text="${attendedTournament.tournament.eventStart}"></td>
        <td th:text="${attendedTournament.tournament.entryFees}"></td>
        <td th:text="${attendedTournament.tournament.prize}"></td>
        <form method="post" th:action="@{/tournaments/update-rating/{tournamentId}(tournamentId=${attendedTournament.tournament.tournamentId})}" th:object="${ratingObj}" >
        <td>
      <span class="star-rating" th:value="${attendedTournament.tournamentRating}">
        <input class="hidden-rating-input" type="hidden" th:field="*{tournamentRating}"/>
        <label th:for="'rate-tournament-1-' + ${row.index}" style="--i:1"><i class="fas fa-star"></i></label>
        <input type="radio" th:name="'rate-tournament-'+${row.index}" th:id="'rate-tournament-1-'+${row.index}" value="1">
        <label th:for="'rate-tournament-2-' + ${row.index}" style="--i:2"><i class="fas fa-star"></i></label>
        <input type="radio" th:name="'rate-tournament-'+${row.index}" th:id="'rate-tournament-2-'+${row.index}" value="2">
        <label th:for="'rate-tournament-3-' + ${row.index}" style="--i:3"><i class="fas fa-star"></i></label>
        <input type="radio" th:name="'rate-tournament-'+${row.index}" th:id="'rate-tournament-3-'+${row.index}" value="3">
        <label th:for="'rate-tournament-4-' + ${row.index}" style="--i:4"><i class="fas fa-star"></i></label>
        <input type="radio" th:name="'rate-tournament-'+${row.index}" th:id="'rate-tournament-4-'+${row.index}" value="4">
        <label th:for="'rate-tournament-5-' + ${row.index}" style="--i:5"><i class="fas fa-star"></i></label>
        <input type="radio" th:name="'rate-tournament-'+${row.index}" th:id="'rate-tournament-5-'+${row.index}" value="5">

      </span>
        </td>
        <td>
      <span class="star-rating" th:value="${attendedTournament.organizerRating}">
        <input class="hidden-rating-input" type="hidden" th:field="*{organizerRating}"  />
        <label th:for="'rate-host-1-' + ${row.index}" style="--i:1"><i class="fas fa-star"></i></label>
        <input type="radio" th:name="'rate-host-'+${row.index}" th:id="'rate-host-1-'+${row.index}" value="1">
        <label th:for="'rate-host-2-' + ${row.index}" style="--i:2"><i class="fas fa-star"></i></label>
        <input type="radio" th:name="'rate-host-'+${row.index}" th:id="'rate-host-2-'+${row.index}" value="2">
        <label th:for="'rate-host-3-' + ${row.index}" style="--i:3"><i class="fas fa-star"></i></label>
        <input type="radio" th:name="'rate-host-'+${row.index}" th:id="'rate-host-3-'+${row.index}" value="3">
        <label th:for="'rate-host-4-' + ${row.index}" style="--i:4"><i class="fas fa-star"></i></label>
        <input type="radio" th:name="'rate-host-'+${row.index}" th:id="'rate-host-4-'+${row.index}" value="4">
        <label th:for="'rate-host-5-' + ${row.index}" style="--i:5"><i class="fas fa-star"></i></label>
        <input type="radio" th:name="'rate-host-'+${row.index}" th:id="'rate-host-5-'+${row.index}" value="5">
      </span>
        </td>
        <td class="button-column">
          <div class="btn-group mt-2" role="group">
            <button type="submit" class="btn btn-primary">Rate</button>
          </div>
        </td>
        </form>
      </tr>
      </tbody>
    </table>
  </div>

  <h2>Open Tournaments</h2>

  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Entry Fee</th>
        <th>Prize</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="tournament : ${openTournaments}">
        <td th:text="${tournament.tournamentName}"></td>
        <td th:text="${tournament.address + ', ' + tournament.city + ', ' + tournament.state + ', ' + tournament.zipCode}"></td>
        <td th:text="${tournament.eventStart}"></td>
        <td th:text="${tournament.entryFees}"></td>
        <td th:text="${tournament.prize}"></td>
        <td>
          <a th:href="@{'/tournaments/join/' + ${tournament.tournamentId} + '/'+${userId}}" class="btn btn-primary">Join Tournament</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <h2>My Created Tournaments</h2>

  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Entry Fee</th>
        <th>Prize</th>
        <th>Actions</th>
        <th>Organizer</th>
        <th>Current user</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="tournament : ${myTournaments}">
        <td th:text="${tournament.tournamentName}"></td>
        <td th:text="${tournament.address + ', ' + tournament.city + ', ' + tournament.state + ', ' + tournament.zipCode}"></td>
        <td th:text="${tournament.eventStart}"></td>
        <td th:text="${tournament.entryFees}"></td>
        <td th:text="${tournament.prize}"></td>

        <td>
          <a th:href="@{'/tournaments/edit/' + ${tournament.tournamentId}}" class="btn btn-primary">Edit</a>
          <form th:action="@{'/tournaments/delete/' + ${tournament.tournamentId}}" method="post" onsubmit="return confirm('Are you sure you want to delete this tournament?');">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
        <td th:text="${tournament.organizerId}"></td>
        <td th:text="${username}"></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    // Function to handle star rating selection
    // function handleStarRating(radioBtn) {
    //   // Get the index of the selected star rating (i.e., the value of the selected radio button)
    //   const currentIndex = $(radioBtn).val();
    //
    //   // Get the button group in the same row as the selected star rating
    //   const buttonGroup = $(radioBtn).closest('td').find('.btn-group');
    //
    //   // Get the new column for the button
    //   const buttonColumn = $(radioBtn).closest('tr').find('.button-column');
    //
    //   // Show or hide the button group and the new column based on the selected star rating
    //   if (currentIndex > 0) {
    //     buttonGroup.show();
    //     buttonColumn.show();
    //   } else {
    //     buttonGroup.hide();
    //     buttonColumn.hide();
    //   }

    // }

    // Event listener to handle star rating selection
    $('.star-rating input[type="radio"]').on('change', function() {
      this.parentElement.firstElementChild.value = this.value;
    });

    // Sets the star rating on load
    $('.star-rating input[type="radio"]').each(function() {
      let currentRating = this.parentElement.getAttribute("value");
      this.parentElement.firstElementChild.value = currentRating;
      if (this.value == currentRating) {
        this.checked = true;
      }
    });
    });


</script>

</body>
</html>
