<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Your Profile</title>

  <!-- //for-mobile-apps -->
  <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/css/gopremium.css" rel="stylesheet" type="text/css" media="all" />

  <link href="/css/font-awesome.css" rel="stylesheet">


  <!-- font-awesome icons -->
  <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<div th:replace="_navbar.html"></div>
<h1></h1>

</body>
</html>