<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Go Premium!</title>

  <!-- //for-mobile-apps -->
  <link href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/css/gopremium.css" rel="stylesheet" type="text/css" media="all" />

  <link href="/css/font-awesome.css" rel="stylesheet">


  <!-- font-awesome icons -->
  <script src="https://js.stripe.com/v3/"></script>



</head>
<body>
<div th:replace="_navbar.html"></div>


<div th:switch="${subscriptions}" class="planscontainer">
  <div th:case="null">Sorry, we do not have any subscriptions available right now.</div>
  <div th:case="*">

    <div class="row justify-content-center pb-5 projects-grids">
      <div class="col-lg-12 pb-lg-2 text-center">
        <h3 class="font-alt font-w-600 letter-spacing-2 text-uppercase title-extra-large-2">Premium Subscription Plans</h3>
        <p class="font-alt mb-0 mt-3 text-xs-large text-uppercase title-medium">What we can offer for our customers</p>
        <span class="bg-base-color d-inline-block mt-4 sep-line-thick-long"></span>
      </div>
    </div>



    <div class="row m-lg-0">
      <div th:each="subscription: ${subscriptions}" class="col-md-6 col-lg-6 px-lg-0">
        <div class="pricing border-base-color border-top border-extra-thick box-shadow text-center">
          <div class="pricing-header bg-black border-base-color border-bottom border-medium-thick px-3 py-4">
            <span class="d-block font-alt letter-spacing-2 text-uppercase text-white title-large"><span th:text="${subscription.duration}"></span> Plan</span>
            <span class="price d-block mt-4 text-white" style="color: white">
                        <span class="title-medium">
                          <span class="text-white title-medium" th:text="${'$' + #numbers.formatDecimal(subscription.cost, 1, 'COMMA', 2, 'POINT')}"></span></span>

                        <span>/<span class="text-medium" th:text="${subscription.duration}"></span></span>
          </span>
            <p class="opacity-100 m-0 mt-3 text-small text-white" ><p th:text="${#numbers.formatDecimal(subscription.commissionRate*100, 1, 'COMMA', 2, 'POINT') + '% Boardify commission rate'}"></p> </p>
          </div>

          <div class="pricing-body">
            <span class="bg-gray d-block p-4 text-large" th:text="${'You keep ' + (1 - subscription.commissionRate)*100 + '% of your revenues from entry fees'}"></span>
          </div>

          <div class="pricing-footer bg-base-color">
            <a href="#" class="getplantbutton">Get Monthly Premium!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<form action='/charge' method='POST' id='checkout-form'>
  <input type='hidden' th:value='${amount}' name='amount' />
  <label>Price:<span th:text='${amount/100}' /></label>
  <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
  <script
          src='https://checkout.stripe.com/checkout.js'
          class='stripe-button'
          th:attr='data-key=${stripePublicKey},
         data-amount=${amount},
         data-currency=${currency}'
          data-name='Baeldung'
          data-description='Spring course checkout'
          data-image
                  ='https://www.baeldung.com/wp-content/themes/baeldung/favicon/android-chrome-192x192.png'
          data-locale='auto'
          data-zip-code='false'>
  </script>
</form>

</body>
</html>